h1 {
    font-size: 48px;
    text-align: center;
}

#main-article {
  display: inline-block;
  width: auto;
  height: auto;
}
.main-article {
  position: absolute;
}

.main-article-header {
    font-size: 20px;
    display: inline-block;
    width: 60%;
    height: inherit;
    float: right;
    font-weight: bold;
}

.main-aritcle-body {
    display: inline-block;
    width: 60%;
    height: 300px;
    float: right;
    overflow-y: scroll;
}

.main-article-image {
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-right: 20px;
    float: left;
}

p.item-card {
    display: inline-block;
    width: 20%;
    border: 1px solid #000000;
    padding: 5px;
    vertical-align: top;
}

.item-header {
    font-weight: bold;
    display: inline-block;
}

.item-body {
    display: inline-block;
}

.item-image {

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.classifieds-section {
    display: inline-block;
    margin-top: 50px;
}
