* {
  box-sizing: border-box;
  font-size: 0px;
}

.border {
  border: 5px solid white;
}

.boxContainer {
  max-width: 800px;
  margin: auto;
}


.lightPink {
  background-color: #F5C6D6;
  height: 100px;
  width: 100%;
}

.dPinkRow {
  width: 100%;
  /* height: 100px; */
  justify-content: flex-start;
  display: flex;
}

.dPink1 {
  background-color: #EE2E84;
  height: 100px;
  width: 25%;
}

.dPink2 {
  background-color: #EE2E84;
  height: 100px;
  width: 25%;
}

.dPink3 {
  background-color: #EE2E84;
  height: 100px;
  width: 25%;
}

.dPink4 {
  background-color: #EE2E84;
  height: 100px;
  width: 25%;
}

.blueRow {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.blue1 {
  background-color: #85CFD8;
  height: 100px;
  width: 50%;
}

.blue2 {
  background-color: #85CFD8;
  height: 100px;
  width: 50%;
}

.greenOrangeRow {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.green {
  background-color: #8DC63F;
  width: 70%;
  height: 100px;
}

.orange {
  background-color: #E76E34;
  width: 30%;
  height: 100px;
}

@media (max-width: 768px) {
    .border {
      border: 1px solid white;
    }
    .lightPink {
      height: 50px;
    }

    .dPinkRow {
      flex-direction: column;
    }
    .dPink1 {
      width: 100%;
      height: 50px;
    }
    .dPink2 {
      width: 100%;
      height: 50px;
    }
    .dPink3 {
      width: 100%;
      height: 50px;
    }
    .dPink4 {
      width: 100%;
      height: 50px;
    }
    .blueRow {
      flex-direction:
      column;

    }
    .blue1 {
      width: 100%;
      height: 50px;
    }
    .blue2 {
      width: 100%;
      height: 50px;
    }
    .greenOrangeRow {
      flex-direction: column;
    }
    .green {
      width: 100%;
      height: 50px;
    }
    .orange {
      width: 100%;
      height: 50px;
    }

}
